<configuration>
	<system.web>
		<globalization culture="zh-CN" uiCulture="zh-CN"/>
		<customErrors mode="Off"/>
		<compilation debug="true"/>
		<pages validateRequest="false" enableViewState="false"/>
	</system.web>
	<appSettings>
		<add key="VRConnString" value="Data Source=.;Initial Catalog=Nov30thVR;Integrated Security=True"/>
		<add key="VRCopyright" value="HOHO`` [SQL EXPRESS DataBase Version] [怀旧模式]"/>
		<add key="VRVersion" value="V2.2 0714 Build "/>
		<add key="VRPassword" value="pwdpwd"/>
		<add key="VRNews" value=""/>
	</appSettings>
</configuration>
