P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
LEGEND {
	DISPLAY: none
}
LABEL {
	FONT-WEIGHT: normal; CURSOR: hand
}
.concatid {
	CURSOR: help
}
A {
	COLOR: #053799; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.yregclb:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: "."
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#yregwp {
	MARGIN: 0px auto; WIDTH: 750px; TEXT-ALIGN: left
}
#yregmst {
	MARGIN: 0px 0px 12px; WIDTH: 750px; POSITION: relative
}
#yregmst .yregmstl {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
#yregct {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
#yreglg {
	FLOAT: right; MARGIN: 0px 0px 20px; WIDTH: 240px
}
#yregtxt {
	MARGIN: 0px 270px 0px 20px
}
#yregtctx #yregtxt {
	MARGIN: 0px 0px 10px; WIDTH: 490px
}
#yregft {
	PADDING-RIGHT: 0px; BORDER-TOP: #777 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 77%; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.yregbx {
	BORDER-RIGHT: #656565 1px solid; BORDER-TOP: #656565 1px solid; MARGIN: 0px 0px 10px; BORDER-LEFT: #656565 1px solid; BORDER-BOTTOM: #656565 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.yregbxi {
	MARGIN: 11px
}
.top .yregbxi {
	MARGIN-TOP: 20px
}
.ct {
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 4px
}
.ct .cl {
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 4px
}
.cb {
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 4px
}
.cb .cl {
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 4px
}
.ct {
	RIGHT: -1px; WIDTH: 100%
}
.cb {
	RIGHT: -1px; WIDTH: 100%
}
.ct .cl {
	LEFT: -2px; WIDTH: 4px
}
.cb .cl {
	LEFT: -2px; WIDTH: 4px
}
.ct {
	BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_gg_ne.gif) no-repeat right top; TOP: -1px
}
.ct .cl {
	BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_gg_nw.gif) no-repeat left top
}
.cb {
	BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_gg_se.gif) no-repeat right bottom; BOTTOM: -1px
}
.cb .cl {
	BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_gg_sw.gif) no-repeat left bottom
}
#yregtxt .yregbx {
	BORDER-LEFT-COLOR: #87bb69; BORDER-BOTTOM-COLOR: #87bb69; BORDER-TOP-COLOR: #87bb69; BACKGROUND-COLOR: #e9f2d7; BORDER-RIGHT-COLOR: #87bb69
}
#yregtxt .yregbx H2 {
	FONT-SIZE: 109%
}
#yregtxt .ct {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_grn_ne.gif)
}
#yregtxt .ct .cl {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_grn_nw.gif)
}
#yregtxt .cb {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_grn_se.gif)
}
#yregtxt .cb .cl {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_grn_sw.gif)
}
.flicker #yregtxt .yregbx {
	BORDER-LEFT-COLOR: #bbdbfe; BORDER-BOTTOM-COLOR: #bbdbfe; BORDER-TOP-COLOR: #bbdbfe; BACKGROUND-COLOR: #e3f0ff; BORDER-RIGHT-COLOR: #bbdbfe
}
.flicker #yregtxt .ct {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_flk_ne.gif)
}
.flicker #yregtxt .ct .cl {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_flk_nw.gif)
}
.flicker #yregtxt .cb {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_flk_se.gif)
}
.flicker #yregtxt .cb .cl {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_flk_sw.gif)
}
.flicker #yregtxt LI H3 {
	COLOR: #303030
}
.podcast #yregtxt .yregbx {
	BORDER-LEFT-COLOR: #50adc1; BORDER-BOTTOM-COLOR: #50adc1; BORDER-TOP-COLOR: #50adc1; BACKGROUND-COLOR: #a7d6e0; BORDER-RIGHT-COLOR: #50adc1
}
.podcast #yregtxt .ct {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_pdcst_ne.gif)
}
.podcast #yregtxt .ct .cl {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_pdcst_nw.gif)
}
.podcast #yregtxt .cb {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_pdcst_se.gif)
}
.podcast #yregtxt .cb .cl {
	BACKGROUND-IMAGE: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/cr_pdcst_sw.gif)
}
.podcast #yregtxt LI H3 {
	COLOR: #056d87
}
.smallbz #yregtxt LI H3 {
	COLOR: #39c
}
#yreglg H1 {
	FONT-SIZE: 114%; COLOR: #333
}
#yreglg H2 {
	FONT-SIZE: 114%; COLOR: #333
}
#yreglg H3 {
	FONT-SIZE: 114%; COLOR: #333
}
#yreglg H3 {
	MARGIN: 0px 0px 4px
}
#yreglg SELECT {
	FONT-SIZE: 92%
}
#yreglg INPUT {
	FONT-SIZE: 92%
}
#yreglg P {
	FONT-SIZE: 92%
}
#yreglgtb TD {
	FONT-SIZE: 92%
}
#yreglgtb TH {
	FONT-SIZE: 92%
}
#yreglg P.yreglgsb INPUT {
	FONT-SIZE: 107%
}
#yreglg .yregnewssl {
	FONT: 77%/114% verdana
}
#yreglg .yreglgmd {
	FONT: 77%/114% verdana
}
#yreglg .yregnewssl {
	MARGIN: -4px 0px 10px
}
#yreglg .yregnewssl SPAN {
	COLOR: #c00
}
#yreglgtb {
	TEXT-ALIGN: right
}
#yreglgtb TD {
	TEXT-ALIGN: right
}
#yreglgtb TH {
	TEXT-ALIGN: right
}
#yreglg .yreglgmd {
	TEXT-ALIGN: right
}
.yreglgsu {
	TEXT-ALIGN: right
}
.yreglgsb {
	TEXT-ALIGN: right
}
.yreglgsut {
	TEXT-ALIGN: right
}
.yregnewssl {
	TEXT-ALIGN: right
}
#yreglgtb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; WIDTH: 215px; PADDING-TOP: 0px
}
#yreglgtb TD {
	WIDTH: 215px
}
#yreglgtb TH {
	WIDTH: 215px
}
#yreglgtb TH {
	WHITE-SPACE: nowrap
}
#yreglgtb TD SELECT {
	WIDTH: 124px
}
#yreglgtb TD {
	WIDTH: 130px
}
#yreglgtb TD INPUT {
	WIDTH: 120px
}
.yreglgsb {
	MARGIN: 12px 0px 0px
}
.yreglgsut {
	MARGIN: 0px 0px 3px
}
.yreglgsub {
	MARGIN: 15px 0px 0px 30px
}
.yreglgsu A {
	FONT: bold 114%/114% arial; COLOR: #039; TEXT-DECORATION: underline
}
.yreglgsut A {
	FONT: bold 114%/114% arial; COLOR: #039; TEXT-DECORATION: underline
}
.yreglgsut A {
	FONT-SIZE: 122%
}
H2.yregdnt {
	MARGIN: 14px 0px 0px
}
.yregdsilu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid
}
.yregdlisu {
	PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px 0px; PADDING-TOP: 14px
}
.yreglvpnu {
	PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px 0px; PADDING-TOP: 14px
}
#yreglg .second H3 {
	FONT: bold 100% Arial; COLOR: #333
}
#yreglg .second P {
	FONT: 77%/140% verdana
}
#yregtxt UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
#yregtxt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#yregtxt LI H3 {
	FONT: 122%/152% verdana; COLOR: #496e03
}
#yregtxt LI CITE {
	LINE-HEIGHT: 129%; FONT-STYLE: normal
}
.frontpage #yregtxt LI {
	MARGIN-TOP: 15px
}
.frontpage #yregtxt LI H3 {
	COLOR: #666
}
#yregtgen #yregct {
	MARGIN-RIGHT: 15px
}
#yreglgtb TD.yregyid {
	FONT-SIZE: 100%; TEXT-ALIGN: left
}
.yreglgdu {
	MARGIN: 0px 0px 5px
}
.yreglgdu A {
	FONT: bold 107%/136% verdana; COLOR: #039; TEXT-DECORATION: underline
}
#yregtgen #yregtxt H2 {
	MARGIN: 0px; FONT: bold 152%/152% arial; COLOR: #333
}
#yregpmtxt H3 {
	MARGIN: 0px; FONT: bold 152%/152% arial; COLOR: #333
}
#yregpmtxt H3 {
	MARGIN: 0px 0px 10px
}
#yregptxt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
#yregtgen #yregtxt P.yregpti {
	MARGIN: 0px 0px 2px; FONT: bold 100%/100% arial; COLOR: #666
}
#yregptxt UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px; PADDING-TOP: 0px
}
#yregptxt LI {
	MARGIN: 0px 0px 1em 18px; FONT: 100%/122% arial; LIST-STYLE-TYPE: disc
}
#yregpmtxt {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 25px 0px 0px; PADDING-TOP: 20px
}
#yregtgen #yregtxt {
	MARGIN-BOTTOM: 20px
}
#yregtgen #yregtxt #yreghtxt H3 {
	MARGIN: 0px; FONT: bold 107%/114% arial; COLOR: #8c57a1
}
#yregtgen #yregtxt LI H3 {
	FONT: bold 114%/122% arial
}
#yregtgen #yregtxt P {
	MARGIN: 0px 0px 0.8em; LINE-HEIGHT: 129%
}
#yregtgen #yregtxt .yregbpt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/purple_arrow.gif) no-repeat 1px 4px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px 4px; PADDING-TOP: 0px
}
.yregertxt {
	MARGIN: 15px 0px 5px
}
.yregertxt {
	COLOR: #c00
}
#yreglg .yregertxt H2 {
	COLOR: #c00
}
#yreglg .yregertxt H2 {
	FONT-SIZE: 107%
}
.yregertxt P {
	FONT: 92%/107% arial
}
.yregab #yreglg {
	WIDTH: 320px
}
.yregab #yreglgtb {
	WIDTH: auto
}
UNKNOWN {
	WIDTH: 180px
}
.yregab #yregabimg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.yregab .yregrid {
	TEXT-ALIGN: right
}
.yregab#yregtgen #yregtxt {
	WIDTH: 380px
}
#yregtgen #yregtxt #yreghtxt H2 {
	COLOR: #7a067f
}
.yregertxt {
	MARGIN: 15px 0px 5px
}
.yregertxt {
	COLOR: #c00
}
#yreglg .yregertxt H2 {
	COLOR: #c00
}
#yreglg .yregertxt H2 {
	FONT-SIZE: 107%
}
.yregertxt P {
	FONT: 92%/107% arial
}
.yreglvpnu P {
	FONT: 92%/136% arial
}
.yreglvpnu P A {
	FONT: bold 107%/139% arial; TEXT-DECORATION: underline
}
#yreglgtb TD.yreglvid {
	TEXT-ALIGN: left
}
#yregfl {
	MARGIN: 0px 20px 20px
}
#yregfl H1 {
	FONT-SIZE: 136%; LINE-HEIGHT: 167%
}
#yregfl H2 {
	FONT-SIZE: 107%
}
#yregfl P {
	MARGIN: 0px 0px 1em
}
#yregfl LI {
	MARGIN-BOTTOM: 10px
}
.appuser #yregtxt H2 {
	MARGIN-TOP: 10px; FONT: 122%/122% verdana, sans-serif; COLOR: #5b9b0f
}
.appuser #yregtxt LI {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.appuser #yregtxt H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 92%
}
.appuser #yregtxt LI.greenarrow H3 {
	COLOR: #548f0d
}
.appuser #yregtxt LI.grayarrow H3 {
	COLOR: #969696
}
.appuser #yregtxt LI.greenarrow {
	BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/green_arrow.gif) no-repeat 0px 2px
}
.appuser #yregtxt LI.grayarrow {
	BACKGROUND: url(https://a248.e.akamai.net/sec.yimg.com/i/reg/gray_arrow.gif) no-repeat 0px 2px
}
.appuser #yregtxt UL LI CITE {
	COLOR: #666
}
#yregtgen #yregtxt #promoImg {
	FLOAT: right; MARGIN: 20px 10px 0px
}
#yregtgen #yregtxt #promoFooterTxt {
	FONT-SIZE: 85%
}
